In [2]:
import pandas as pd

df = pd.read_csv(r"../src/BrentOilPrices.csv")
df.head()

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63